<!DOCTYPE html>
<html lang="en">
<head>

  <% include head_incl.ejs %>
  <title>Basket</title>

</head>
<body>

  <!-- NAVIGATION BAR -->

  <% include nav_bar.ejs %>

  <!-- END OF NAVIGATION BAR -->


  <!-- MAIN CONTENT OF THE PAGE -->

  <div class="container">
    <div class="row">

      <div class="panel panel-default">
      <!-- Default panel contents -->
        <div class="panel-heading" id="order-heading">Your order:</div>
        <div class="panel-body">
          <div class="row">
          <div class="col-sm-5">
            <p>
              Your current order includes the listed items.
              If you wish to add more items, you can always do so.
              You can also remove items that you do not want anymore.
              <br><br>
              Once you are sure this is your order, please press the
              button. You will be redirected to PayPal.
            </p>
          </div>
          <div class="col-sm-7">
            <!-- List group -->
            <% var running_total = 0;
               Object.keys(basket).forEach(function(cafe_id) { %>
            <ul class="list-group">
              <li class="basket-header list-group-item">
                <div class="row">
                  <div class="col-sm-12"><%= basket[cafe_id][0].cafe_name %></div>
                </div>
              </li>
              <% basket[cafe_id].forEach(function(bask_item) { %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-7"><%= bask_item.name %></div>
                  <div class="col-sm-2">£&nbsp;<%= bask_item.price.toFixed(2); %></div>
                  <div class="col-sm-1"><%= bask_item.amount %></div>
                  <div style="text-align: right" class="col-sm-2">
                    <a class="remove-button" data-product-id="<%= bask_item.product_id %>" data-cafe-id="<%= bask_item.cafe_id %>" data-entry-cost="<%= bask_item.amount * bask_item.price %>">
                      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="color:#aa764e"></span>
                    </a>
                  </div>
                </div>
              </li>
              <% running_total += bask_item.amount * bask_item.price;
                 }); %>
            </ul>
            <% }); %>
            <script>
            $(".remove-button").click(function(e) {
              // get our vars
              var button = $(e.target).parent();
              var product_id = button.data("product-id");
              var cafe_id = button.data("cafe-id");
              var entry_cost = button.data("entry-cost");

              // create our data object
              var data = {
                amount: "0",
                product_id: product_id,
                cafe_id: cafe_id
              };

              // send the request
              $.getJSON("/api/basket/edit", data, function(response) {
                total_price = Math.abs(total_price - entry_cost);
                $(".total-price").html(total_price.toFixed(2));
                if (response.status == 1) {
                  button.parent().parent().parent().remove();
                } else {
                  alert(response.message);
                }
              }).error(function(jqXHR, textStatus, errorThrown){
                alert(textStatus);
              });
            });
            </script>
        </div>
        <div class="row">
          <div class="col-sm-7">
          </div>
          <div class="col-sm-2" align="right">
            <p> Total price: </p>
          </div>
          <div class="col-sm-3">
            <p><strong>£<span class="total-price"></span></strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default btn-block" id="goToPayment" data-toggle="modal" data-target="#AcceptPayment">Procede to payment</button>
      </div>
    </div>

    <!-- Modal -->
        <div class="modal fade" id="AcceptPayment" role="dialog">
            <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                  <p>Are you sure you want to complete this order and pay <strong>£<span class="total-price"></span></strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Procede to Paypal</button>
                </div>
            </div>
            </div>
        </div>

        <script>
          var total_price = <%= running_total.toFixed(2) %>;
          $(".total-price").html(total_price.toFixed(2));
        </script>

  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
