<!DOCTYPE html>
<html lang="en">
<head>

  <% include head_incl.ejs %>
  <title><%= cafe.cafe_name %></title>

</head>
<body>

  <!-- NAVIGATION BAR -->

  <% include nav_bar.ejs %>

  <!-- END OF NAVIGATION BAR -->

  <!-- MAIN CONTENT OF THE PAGE -->

  <div class="container">
    <div class="row">

      <!-- STATIC SIDEBAR WITH DIFFERENT CATEGORIES -->
      <div class="col-sm-3">

        <!-- cafe information panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= cafe.cafe_name %></h3>
          </div>
          <div class="panel-body">
            <img src="<%= cafe.cafe_image_url %>" class="img-responsive img-rounded" alt="<%= cafe.cafe_name %>">
            <br>
            <p><strong>Working hours:</strong><br><%= cafe.cafe_opening_times %></p>
            <p><strong>Location:</strong><br><%= cafe.cafe_address %></p>
          </div>
        </div>

        <!-- categories -->
        <div class="list-group">
        <button data-category-id="all" class="category-item list-group-item active">All</button>
        <% categories.forEach(function (category) { %>
          <button data-category-id="<%= category.category_id %>" class="category-item list-group-item"><%= category.category_name %></button>
        <% }); %>
        <script>
          $(".category-item").click(function(e) {
            var category = $(e.target).data("category-id");
            console.log(category);
            $(e.target).addClass("active");
            $(e.target).siblings().removeClass("active");
            if(category == "all") {
              $("#product-container").children().css("display", ""); // show all products
            } else {
              $("#product-container").children().css("display", "none"); // hide all products
              $("#product-container").children("*[data-category-id='"+category+"']").css("display", ""); // show selected categories products
            }
          });
        </script>
        </div>

        <!-- </nav> -->
      </div>

      <!-- DYNAMIC CONTENT OF THE PAGE - STOCK ITEMS-->
      <div class="col-sm-9">
        <!-- CONTENT OF EACH ROW OF THE CONTENT -->
        <div id="product-container" class="row">

        <% products.forEach(function (product) { %>
        <!-- BOX REFERRING TO A PRODUCT -->
        <div data-product-id="<%= product.product_id %>" data-category-id="<%= product.product_category_id %>" class="col-sm-6 col-md-4">
          <a style="display:block" data-toggle="modal" data-target="#productInfo" data-product-description="<%= product.product_description %>" data-product-image-url="<%= product.product_image_url %>" data-product-name="<%= product.product_name %>" data-product-id="<%= product.product_id%>" data-category-id="<%= product.product_category_id%>">
            <div class="thumbnail">
              <div class="caption" id="lessSpace">
              <h3 align="center"><%= product.product_name%></h3>
              </div>
              <img class="img-rounded" src="<%= product.product_image_url %>" alt="<%= product.product_name %>">
              <div class="caption">
                <a class="btn btn-default btn-add-cart" data-product-id="<%= product.product_id%>" role="button">£<%= product.product_price.toFixed(2) %> - Add to Cart &nbsp;&nbsp;<span class="glyphicon glyphicon-shopping-cart" id="buttonIcon" aria-hidden="true"></span></a>
              </div>
            </div>
          </a>
        </div>
        <% }); %>
        <script>
        // set timeout to something reasonable
        $.ajaxSetup({timeout: 10000});
        $(".btn-add-cart").click(function(e) {
          var button = $(e.target);
          var item = button.data("product-id");
          var oldtext = button.html();
          button.html("<i class=\"fa fa-circle-o-notch fa-spin\"></i>").attr("disabled", "disabled");
          var data = {
            amount: "a1",
            product_id: item,
            cafe_id:  <%= cafe.cafe_id %>
          };
          $.getJSON("/api/basket/edit", data, function(response) {
            if (response.status == 1) {
            } else {
              button.css("background-color", "lightred");
              alert(response.message);
            }
            button.html(oldtext).removeAttr("disabled");
          }).error(function(jqXHR, textStatus, errorThrown){
            alert(textStatus);
            button.html(oldtext).removeAttr("disabled").css("background-color", "lightred");
          });
        });
        </script>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="productInfo" tabindex="-1" role="dialog" aria-labelledby="ProductInformation">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="productInfoName">Product Name</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive img-rounded" id="productInfoImage">

                </div>
                <div class="col-sm-6" style="overflow-y: auto">
                  <div id="productInfoDescription">
                    Product info
                  </div>
                  <div id="productInfoNutritional">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        // holds our gda data
        var gda = $("<div>", {"class":"icon_gda_bar"});
        // adds a gda icon to our data
        var add_gda = function(data, type) {
          if (typeof data === "undefined") return;
          var flag_parts = data.split(":");
          console.log(flag_parts);
          var gda_icon = $("<div>", {"class":"icon_gda"});
          if(type === "Energy") {
            gda_icon.append($("<div>", {
              "class":"icon_gda_elem icon_gda_top icon_gda_"+flag_parts[3],
              "html":"<span class=\"icon_gda_text\">Energy</span>"
            }));
            gda_icon.append($("<div>", {
              "class":"icon_gda_elem icon_gda_mid icon_gda_"+flag_parts[3],
              "html":"<span class=\"icon_gda_text\">"+flag_parts[0]+"kJ</span><span class=\"icon_gda_text\">"+flag_parts[1]+"kcal</span>"
            }));
            gda_icon.append($("<div>", {
              "class":"icon_gda_elem icon_gda_bot icon_gda_"+flag_parts[3],
              "html":"<span class=\"icon_gda_text\">"+flag_parts[2]+"</span>"
            }));
          } else {
            gda_icon.append($("<div>", {
              "class":"icon_gda_elem icon_gda_top icon_gda_"+flag_parts[2],
              "html":"<span class=\"icon_gda_text\">"+type+"</span>"
            }));
            gda_icon.append($("<div>", {
              "class":"icon_gda_elem icon_gda_mid icon_gda_"+flag_parts[2],
              "html":"<span class=\"icon_gda_text\">"+flag_parts[0]+"g</span>"
            }));
            gda_icon.append($("<div>", {
              "class":"icon_gda_elem icon_gda_bot icon_gda_"+flag_parts[2],
              "html":"<span class=\"icon_gda_text\">"+flag_parts[1]+"%</span>"
            }));
          }
          gda.append(gda_icon);
        }

        $("#productInfo").on("show.bs.modal", function(e) {
          gda.empty();
          var product_id = $(e.relatedTarget).data("product-id");
          var product_name = $(e.relatedTarget).data("product-name");
          var product_image = $(e.relatedTarget).data("product-image-url");
          var product_description = $(e.relatedTarget).data("product-description");
          $("#productInfoImage").attr("src", product_image);
          $("#productInfoName").html(product_name);
          $("#productInfoDescription").html(product_description);
          $.getJSON("/api/products/"+product_id+"/nutrition").done(function(data){
            $("#productInfoNutritional").empty();
            if (typeof data.gda_text_per !== "undefined") {
              add_gda(data.gda_icon_energy, "Energy");
              add_gda(data.gda_icon_fat, "Fat");
              add_gda(data.gda_icon_saturates, "Saturates");
              add_gda(data.gda_icon_sugars, "Sugars");
              add_gda(data.gda_icon_salt, "Salt");
              gda.appendTo("#productInfoNutritional");
            }
            data.allergens.forEach(function(allergen) {
              $("<div class=\"allergen\"><i class=\"fa fa-exclamation-circle\"></i> Contains "+allergen+"</div>").appendTo("#productInfoNutritional");
            });
          });
        });
      </script>
    </div>
  </div>


  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
