<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include head_incl.ejs %>
  <title><%= cafe.name %></title>

</head>
<body>

  <!-- NAVIGATION BAR -->

  <% include nav_bar.ejs %>
  
  <!-- END OF NAVIGATION BAR -->

  <!-- MAIN CONTENT OF THE PAGE -->

  <div class="container">
    <div class="row">

      <!-- STATIC SIDEBAR WITH DIFFERENT CATEGORIES -->
      <div class="col-sm-3">

          <div class="list-group">
            <a href="#" class="list-group-item">Sandwiches</a>
            <a href="#" class="list-group-item active">Hot Drinks</a>
            <a href="#" class="list-group-item">Sweets</a>
            <a href="#" class="list-group-item">Cold Drinks</a>
            <a href="#" class="list-group-item">Soups</a>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= cafe.name %></h3>
            </div>
            <div class="panel-body">
              <img src="<%= cafe.image_url %>" class="img-responsive img-rounded" alt="<%= cafe.name %>">
              <br>
              <p><strong>Working hours:</strong><br><%= cafe.opening_times %></p>
              <p><strong>Location:</strong><br><%= cafe.address %></p>
            </div>
          </div>
        <!-- </nav> -->
      </div>

      <!-- DYNAMIC CONTENT OF THE PAGE - STOCK ITEMS-->
      <div class="col-sm-9">
        <!-- CONTENT OF EACH ROW OF THE CONTENT -->
        <div class="row">

        <% products.forEach(function (product) { %>
        <!-- BOX REFERRING TO A PRODUCT -->
        <a data-toggle="modal" data-target="#productInfo" data-id="<%= product.name%>">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption" id="lessSpace">
              <h3 align="center"><%= product.product_name%></h3>
              </div>
              <img class="img-rounded" src="<%= product.image_url %>" alt="<%= product.name%>">
              <div class="caption">
                <a href="#" class="btn btn-default btn-add-cart" role="button">Add to Cart &nbsp;&nbsp;<span class="glyphicon glyphicon-shopping-cart" id="buttonIcon" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </a>
        <% }); %>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="productInfo" tabindex="-1" role="dialog" aria-labelledby="ProductInformation">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Product Name</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  image
                </div>
                <div class="col-sm-6">
                  Product info
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>


  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
