<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include head_incl.ejs %>
  <title>Byte Café</title>

</head>
<body>

  <!-- NAVIGATION BAR -->

  <% include nav_bar.ejs %>
  
  <!-- END OF NAVIGATION BAR -->

  <!-- MAIN CONTENT OF THE PAGE -->

  <div class="container">
    <div class="row">

      <!-- STATIC SIDEBAR WITH DIFFERENT CATEGORIES -->
      <div class="col-sm-3">
        <nav class="bs-docs-sidebar affix" id="sideNavMenu"> 
        <img src="<%= cafe.image_url %>" class="img-responsive img-rounded" alt="<%= cafe.name %>">
        <br>
          <div class="list-group">
            <a href="#" class="list-group-item">Sandwiches</a>
            <a href="#" class="list-group-item active">Hot Drinks</a>
            <a href="#" class="list-group-item">Sweets</a>
            <a href="#" class="list-group-item">Cold Drinks</a>
            <a href="#" class="list-group-item">Soups</a>
          </div>
        </nav>
      </div>

      <!-- DYNAMIC CONTENT OF THE PAGE - STOCK ITEMS-->
      <div class="col-sm-9">
        <!-- CONTENT OF EACH ROW OF THE CONTENT -->
        <div class="row">

        <% products.forEach(function (product) { %>
        <!-- BOX REFERRING TO A PRODUCT -->
        <a href="#">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption" id="lessSpace">
              <h3 align="center"><%= product.name%></h3>
              </div>
              <img class="img-rounded" src="<%= product.image_url %>" alt="<%= product.name%>">
              <div class="caption">
                <a href="#" class="btn btn-default btn-add-cart" role="button">Add to Cart &nbsp;&nbsp;<span class="glyphicon glyphicon-shopping-cart" id="buttonIcon" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </a>
        <% }); %>
      </div>
    </div>
  </div>
</div>


  <!-- FOOTER OF PAGE -->

  <% include footer.ejs %>

  <!-- END OF FOOTER OF PAGE -->


</body>
</html>
