<!DOCTYPE html>
<html>
<head>
  <% include head_incl.ejs %>
  <title> User Manager </title>
</head>
<body>

  <% include nav_bar.ejs %>

  <div class="container">
    <div class="row">

      <div class="jumbotron">
        <div class="row">
        
           <!-- TABLE FOR TAB 1 - ID IS CONTENT_1 -->
          <div class="table-responsive" id="content_1">
            <table id="user-table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Disabled</th>
                  <th>Verified Email</th>
                  <th>Use store</th>
                  <th>POS User</th>
                  <th>Stock Manager</th>
                  <th>Admin</th>
                </tr>
              </thead>
              <tbody>

              <% users.forEach(function (user) { %>
              
                
                <tr data-user-id="<%= user.user_id %>" data-user-name="<%= user.user_name %>" data-user-email="<%= user.user_email %>" data-user-disabled="<%= user.user_disabled %>" data-user-verified="<%= user.user_verified_email %>" data-user-store="<%= user.user_permission_store %>" data-user-pos="<%= user.user_permission_pos %>" data-user-stock="<%= user.user_permission_stock %>" data-user-admin="<%= user.user_permission_admin %>">

                  <td><%= user.user_id %></td>
                  <td><%= user.user_name %></td>
                  <td><%= user.user_email %></td>
                  <td>&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;</td>
                  <td><%= user.user_disabled %></td>
                  <td><%= user.user_verified_email %></td>
                  <td><%= user.user_permission_store %></td>
                  <td><%= user.user_permission_pos %></td>
                  <td><%= user.user_permission_stock %></td>
                  <td><%= user.user_permission_admin %></td>

                </tr>

              <% }); %>

              </tbody>
            </table>
          </div>
          <!-- END OF TABLE -->

          <!-- Modal -->
          <div class="modal fade" id="updateInfo" tabindex="-1" role="dialog" aria-labelledby="UpdateUserInformation">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Update Account Details</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <form role="form" class="form" id="updateInfoForm" method="post" action="/updateInformation">
                        <div class="form-group has-feedback">
                          <div class="row">
                            <div class="col-sm-2 formrow"><label for="usrIDField">User ID</label></div>
                            <div class="col-sm-10"><textarea readonly class="form-control" id="usrIDField" rows="1" placeholder="ID"></textarea></div>
                          </div>
                        </div>
                        <div class="form-group has-feedback">
                          <div class="row">
                            <div class="col-sm-2 formrow"><label for="usrEmailField">Email</label></div>
                            <div class="col-sm-10"><textarea type="email" class="form-control" id="usrEmailField" rows="1" placeholder="Email"></textarea></div>
                          </div>
                        </div>
                        <div class="form-group has-feedback">
                          <div class="row">
                            <div class="col-sm-2 formrow"><label for="userName">Name</label></div>
                            <div class="col-sm-10"><textarea class="form-control" id="userName" rows="1" placeholder="Name"></textarea></div>
                          </div>
                        </div>
                        <div class="form-group has-feedback">
                         <div class="row">
                            <div class="col-sm-2 formrow"><label for="userPass">Password</label></div>
                            <div class="col-sm-10"><textarea class="form-control" id="userPass" rows="1" placeholder="(unchanged)"></textarea></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="col-sm-6 formrow"><label for="disabledToggle"> Disabled </label></div>
                            <div class="col-sm-6"><input type="checkbox" id="disabledToggle" checked></div>
                          </div>
                          <div class="col-sm-6">
                            <div class="col-sm-6 formrow"><label for="verifiedToggle"> Verified Email </label></div>
                            <div class="col-sm-6"><input type="checkbox" id="verifiedToggle" checked></div>
                          </div>
                          <br><br> <br>
                          <div class="col-sm-6">
                            <div class="col-sm-6 formrow"><label for="userToggle"> Store </label></div>
                            <div class="col-sm-6"><input type="checkbox" id="userToggle" checked></div>
                          </div>
                          <div class="col-sm-6">
                            <div class="col-sm-6 formrow"><label for="posToggle"> POS </label></div>
                            <div class="col-sm-6"><input type="checkbox" id="posToggle" checked></div>
                          </div>
                          <br><br>
                          <div class="col-sm-6">
                            <div class="col-sm-6 formrow"><label for="stockToggle"> Stock </label></div>
                            <div class="col-sm-6"><input type ="checkbox" id="stockToggle" checked></div>
                          </div>
                          <div class="col-sm-6">
                            <div class="col-sm-6 formrow"><label for="adminToggle"> Admin </label></div>
                            <div class="col-sm-6"><input type="checkbox" id="adminToggle" checked></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="submitChanges">Submit changes</button>
                </div>
              </div>
            </div>
          </div>

          <script>
                $('#user-table > tbody > tr').click(function(a) {
                  // clear the modal handlers
                  $("#updateInfo").off();

                  $("#updateInfo").on("show.bs.modal", function() {
                    // get user data from dom
                    var idOfUser = $(a.currentTarget).data("user-id");
                    var nameOfUser = $(a.currentTarget).data("user-name"); 
                    var emailOfUser = $(a.currentTarget).data("user-email");
                    var disabledUser = $(a.currentTarget).data("user-disabled");
                    var verifiedUser = $(a.currentTarget).data("user-verified");
                    var storeUser = $(a.currentTarget).data("user-store");
                    var posUser = $(a.currentTarget).data("user-pos");
                    var stockUser = $(a.currentTarget).data("user-stock");
                    var adminUser = $(a.currentTarget).data("user-admin");

                    // fill text boxes
                    $("#usrIDField").val(idOfUser);
                    $("#userName").val(nameOfUser);   
                    $("#usrEmailField").val(emailOfUser);

                    // initialize toggles
                    $("#disabledToggle").bootstrapSwitch({
                      'size': 'small',
                      'labelWidth': '0'});
                    $("#verifiedToggle").bootstrapSwitch({
                      'size': 'small',
                      'labelWidth': '0'});
                    $("#userToggle").bootstrapSwitch({
                      'size': 'small',
                      'labelWidth': '0'});
                    $("#posToggle").bootstrapSwitch({
                      'size': 'small',
                      'labelWidth': '0'});
                    $("#stockToggle").bootstrapSwitch({
                      'size': 'small',
                      'labelWidth': '0'});
                    $("#adminToggle").bootstrapSwitch({
                      'size': 'small',
                      'labelWidth': '0'});

                    // set toggles
                    if (disabledUser ==  1) { 
                      $("#disabledToggle").bootstrapSwitch('state', true);
                      $("#disabledToggle").bootstrapSwitch('offColor', 'success'); }
                    else { 
                      $("#disabledToggle").bootstrapSwitch('state', false);
                      $("#disabledToggle").bootstrapSwitch('onColor', 'success'); }

                    if (verifiedUser ==  1) { 
                      $("#verifiedToggle").bootstrapSwitch('state', true);
                      $("#verifiedToggle").bootstrapSwitch('offColor', 'success'); }
                    else { 
                      $("#verifiedToggle").bootstrapSwitch('state', false);
                      $("#verifiedToggle").bootstrapSwitch('onColor', 'success'); }

                    if (storeUser ==  1) { 
                      $("#userToggle").bootstrapSwitch('state', true);
                      $("#userToggle").bootstrapSwitch('offColor', 'success'); }
                    else { 
                      $("#userToggle").bootstrapSwitch('state', false);
                      $("#userToggle").bootstrapSwitch('onColor', 'success'); }

                    if (posUser ==  1) { 
                      $("#posToggle").bootstrapSwitch('state', true);
                      $("#posToggle").bootstrapSwitch('offColor', 'success'); }
                    else { 
                      $("#posToggle").bootstrapSwitch('state', false);
                      $("#posToggle").bootstrapSwitch('onColor', 'success'); }

                    if (stockUser ==  1) { 
                      $("#stockToggle").bootstrapSwitch('state', true);
                      $("#stockToggle").bootstrapSwitch('offColor', 'success'); }
                    else { 
                      $("#stockToggle").bootstrapSwitch('state', false);
                      $("#stockToggle").bootstrapSwitch('onColor', 'success'); }

                    if (adminUser ==  1) { 
                      $("#adminToggle").bootstrapSwitch('state', true);
                      $("#adminToggle").bootstrapSwitch('offColor', 'success'); }
                    else { 
                      $("#adminToggle").bootstrapSwitch('state', false);
                      $("#adminToggle").bootstrapSwitch('onColor', 'success'); }

                  });

                  $("#updateInfo").modal("show");

                  // colors the fields in green on detected change
                  $('#usrEmailField').on("input", function () {
                    $('#usrEmailField').addClass('updatedField');
                  });
                  $('#userName').on("input", function () {
                    $('#userName').addClass('updatedField');
                  });
                  $('#userPass').on("input", function () {
                    $('#userPass').addClass('updatedField');
                  });

                  // removes colors for fields on closing the modal - resets it
                  $("#updateInfo").on("hidden.bs.modal", function() {
                    if($('#userName').hasClass('updatedField')) { 
                      $('#userName').removeClass('updatedField');
                    }
                    if($('#usrEmailField').hasClass('updatedField')) { 
                      $('#usrEmailField').removeClass('updatedField');
                    }
                    if($('#userPass').hasClass('updatedField')) { 
                      $('#userPass').removeClass('updatedField');
                    }
                    $("#disabledToggle").bootstrapSwitch('onColor', 'primary');
                    $("#disabledToggle").bootstrapSwitch('offColor', 'default');
                    $("#verifiedToggle").bootstrapSwitch('onColor', 'primary');
                    $("#verifiedToggle").bootstrapSwitch('offColor', 'default');
                    $("#userToggle").bootstrapSwitch('onColor', 'primary');
                    $("#userToggle").bootstrapSwitch('offColor', 'default');
                    $("#posToggle").bootstrapSwitch('onColor', 'primary');
                    $("#posToggle").bootstrapSwitch('offColor', 'default');
                    $("#stockToggle").bootstrapSwitch('onColor', 'primary');
                    $("#stockToggle").bootstrapSwitch('offColor', 'default');
                    $("#adminToggle").bootstrapSwitch('onColor', 'primary');
                    $("#adminToggle").bootstrapSwitch('offColor', 'default');
                  });
                });

                $('#submitChanges').click(function () {
                  var data = {
                    id: $('#usrIDField').val(),
                    name: $('#userName').val(),
                    email: $('#usrEmailField').val(),
                    password: $('#userPass').val(),
                    disabled: $('#disabledToggle').bootstrapSwitch('state') == true ?  '1' : '0',
                    permission_store: $('#userToggle').bootstrapSwitch('state') == true ?  '1' : '0',
                    permission_pos: $('#posToggle').bootstrapSwitch('state') == true ?  '1' : '0',
                    permission_stock: $('#stockToggle').bootstrapSwitch('state') == true ?  '1' : '0',
                    permission_admin: $('#adminToggle').bootstrapSwitch('state') == true ?  '1' : '0',
                    verified_email: $('#verifiedToggle').bootstrapSwitch('state') == true ?  '1' : '0'
                  };

                  $.getJSON("/api/admin/user/update", data, function(response) {
                    if(response.status == 1) {
                      //success
                      console.log(response.message);
                    } else {
                      // fail
                      console.log(response.message);
                    }
                  });
                });
                

              </script>

        </div>
      </div>
    </div>
  </div>
  
  <% include footer.ejs %>
</body>
</html>